body{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    align-self: center;
}

#res{
    color: blue;
}

main {
    margin-top: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.main-box{
    margin-top: 10%;
    border: 2px dotted;
    padding: 1rem 4rem;
}

/* 
.bmi-heading{
    margin-bottom: -1rem;

}  */

.vals li{
    list-style-type: none;
    margin-top: 1rem;
    margin-left: -1rem;
}

.vals input{
    height: 2rem;
    width: 15rem;
}

#submit{
    font-size: 1rem;
}